body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  outline: 2px solid red;
}

h1 {
  font-size: 5rem;
  outline: 2px solid black;
}
.blueText {
  color: midnightblue;
}

footer {
  text-align: right;
  color: midnightblue;
  outline: 2px solid green;
}

/* This applies to both elements because they both have the card class */
.card {
  overflow: hidden;
  margin-bottom: 20px;
}

/* This applies only to the element with both the left and card classes */
.left.card {
  background-color: lightblue;
  height: 25%;
  width: 25%;
  float: left;
}

/* This applies only to the element with both the right and card classes */
.right.card {
  background-color: yellow;
  height: 25%;
  width:25%;
  float: right;
}

