* {
  background-color: black;  
}

.flyer {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
   
}

h1 {
  font-family: "Regular Libre Baskerville ";
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

p {
  color: white;
  text-align: center;
}

.myimage {
    border: 5px solid white;
    width:100%;
}

