* {
  background-color: black;  
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 25%;
}

h1 {
  font-family: "Regular Libre Baskerville ";
  color: white;
  text-align: center;
  text-transform: uppercase;
}

p {
  color: white;
  text-align: center;
}

img {
    border: 5px solid white;
    width:100%;
}

